{{!
Table of contents for one exercise round.
Derived from A+ (a-plus/course/templates/course/_module_toc.html).

Context variables:
* statusmaintenance (bool) true if the exercise round is under maintenance
* hasstarted (bool) true if the round has been opened
* lobjects (array of objects), top-level learning objects in the round, each object has fields
    - isempty (bool), name (string), url (string), haschildren (bool),
        children (array of objects) as required by _lobject_toc_item.mustache
* iscoursestaff (bool) true if the user can see hidden/inactive content
}}

{{# statusmaintenance }}
<p>
  {{#str}} undermaintenance, mod_adastra {{/str}}
</p>
{{/ statusmaintenance }}
{{^ statusmaintenance }}

<ul class="toc">
{{# lobjects }}

    {{> mod_adastra/_lobject_toc_item }}

{{/ lobjects }}
</ul>

{{/ statusmaintenance }}
