{{!
Derived from A+ (a-plus/exercise/templates/exercise/_submission_info.html)

Context variables:
* submission (stdClass) with fields
    - submissiontime (int, Unix timestamp)
    - isgraded (bool)
    - state (string) status of the submission (not called status to avoid
        variable name collision with _points_badge.mustache)
    - points (int)
    - servicepoints (int)
    - servicemaxpoints (int)
    - latepenaltyapplied (float, 0-1), null if no late penalty
    - latepenaltyappliedpercent (int, 0-100)
    - submittername (string) in the format "fullname (student id)"
* exercise (stdClass) with fields
    maxpoints
* todatestr a callable function that converts a Unix timestamp to a date string
* iscoursestaff (bool)
}}

<div class="card border-primary">
    <h4 class="card-header bg-primary text-white">{{#str}} submissioninfo, mod_adastra {{/str}}</h4>
    <div class="card-body">
        <dl>
            <dt>{{#str}} submittedon, mod_adastra {{/str}}</dt>
            <dd>{{# todatestr }}{{ submission.submissiontime }}{{/ todatestr }}</dd>

            <dt>{{#str}} status, mod_adastra {{/str}}</dt>
            <dd>
                <span class="badge badge-{{# submission.isgraded }}success{{/ submission.isgraded }}{{^ submission.isgraded }}secondary{{/ submission.isgraded }}">
                    {{ submission.state }}
                </span>
            </dd>

            <dt>{{#str}} grade, mod_adastra {{/str}}</dt>
            <dd>
                {{ submission.points }} / {{ exercise.maxpoints }}
                {{# iscoursestaff }}
                <br>({{#str}} forstafforiginal, mod_adastra {{/str}} {{ submission.servicepoints }} / {{ submission.servicemaxpoints }})
                {{/ iscoursestaff }}
            </dd>

            {{# submission.latepenaltyapplied }}
            <dt>{{#str}} includeslatepenalty, mod_adastra {{/str}}</dt>
            <dd>-{{ submission.latepenaltyappliedpercent }} %</dd>
            {{/ submission.latepenaltyapplied }}

            <dt>
                {{#str}} submitters, mod_adastra {{/str}}
            </dt>
            <dd>{{ submission.submittername }}</dd>
        </dl>
    </div>
</div>
