{{!
Derived from A+ (a-plus/exercise/templates/exercise/submission.html)

Context variables:
* variables required by exercise_base.mustache
* submission requires more fields:
    - hasfiles (bool)
    - assistantfeedback (string)
    - files (array of stdClass objects), each object has fields
        that are required by _file_link.mustache
    - feedback (string)
    - statuswait (bool) true if the submission is waiting for assessment
    - variables required by _submission_info.mustache
    - variables required by _exercise_wait.mustache
* exercise requires more fields:
    allowassistantgrading (bool), maxpoints (int)
    - infourl (string) URL for loading the exercise info box via AJAX
* filesizeformatter a (callable) function to convert bytes (int) to a human-readable string (e.g. "10.2 KB")
* iscoursestaff (bool)
* page (object) with fields
    - iswait (boolean) true if the page should poll whether the grading of the submission is complete
}}

{{< mod_adastra/exercise_base }}

{{$ exercisecontent }}

  {{# submission.hasfiles }}
    <h4>{{#str}} filesinthissubmission, mod_adastra {{/str}}</h4>
    <ul class="list-unstyled">
        {{# submission.files }}
        <li>
            {{#pix}}e/insert_file{{/pix}}
            {{> mod_adastra/_file_link }}
        </li>
        {{/ submission.files }}
    </ul>
  {{/ submission.hasfiles }}

  {{# submission.assistantfeedback }}
    <h4>{{#str}} assistantfeedback, mod_adastra {{/str}}</h4>
    <blockquote class="blockquote">{{{ submission.assistantfeedback }}}</blockquote>
  {{/ submission.assistantfeedback }}

  {{# submission.feedback }}
    <div id="exercise">
        {{{ submission.feedback }}}
    </div>
  {{/ submission.feedback }}
  {{^ submission.feedback }}
    {{# submission.statuswait }}
      <div class="alert alert-info">
        {{#str}} acceptedforgrading, mod_adastra {{/str}}
      </div>
    {{/ submission.statuswait }}
    {{^ submission.statuswait }}
      <div class="alert alert-info">
        {{#str}} nofeedback, mod_adastra {{/str}}
      </div>
    {{/ submission.statuswait }}
  {{/ submission.feedback }}

  {{> mod_adastra/_exercise_wait }}

{{/ exercisecontent }}

{{$ exerciseinfo }}

  <div id="exercise-info" data-url="{{ exercise.infourl }}">
      {{>  mod_adastra/_exercise_info }}
  </div>
  {{> mod_adastra/_submission_info }}

{{/ exerciseinfo }}

{{/ mod_adastra/exercise_base }}

{{#js}}
require(['jquery', 'mod_adastra/aplus_poll'], function($) {
  // activate poller (uses markup from _exercise_wait.mustache)
  $(function() {
    $.aplusExerciseDetectWaits();
  });
});
{{/js}}
